ragas
langchain
langchain-community
langchain_openai
python-dotenv
chromadb
cohere
langchainhub
streamlit
tqdm
unstructured[docx,pptx,csv,pdf]
st-pages
plotly
git+https://github.com/misbahsy/rerankers.git#egg=rerankers[all]
langchain-anthropic
langchain-google-genai